<!DOCTYPE html>
<html>
<head>
	<title>Stock App</title>
	<!-- INCLUDE REQUIRED THIRD PARTY LIBRARY JAVASCRIPT AND CSS -->
	<script type="text/javascript" src="js/angular.min.js"></script>
	<link rel="stylesheet" href="css/bootstrap.min.css">

	<!-- INCLUDE APPLICATION SPECIFIC CSS AND JAVASCRIPT -->
	<script type="text/javascript" src="js/stocks-app/app.js"></script>
	<script type="text/javascript" src="js/stocks-app/controllers/mainController.js"></script>
	<link rel="stylesheet" href="css/main.css">
</head>
  <body>

    <div class="container" ng-app="StocksApp" ng-controller="mainController" ng-init="init()">
      <div class="header">
        <h3 class="text-muted">Stock App</h3>
      </div>

      <div class="jumbotron">
        <h1>Fake Stock Manager App</h1>
        <p class="lead">One stop for purchasing all stocks</p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6" style="border-right: 2px solid black; min-height: 200px;">
        	<h4>Popular Stocks and Prices</h4>
        	<div>
	          	<ul>
		          	<li ng-repeat="stock in popularStocks" style="padding:4px;">
		          		{{'{{'}}stock.Symbol{{'}}'}} - {{'{{'}}stock.AskRealtime{{'}}'}} - <button type="button" class="btn btn-info" ng-click="buyMe(stock)">Buy</button>
		          	</li>
	          	</ul>
          	</div>
          	<hr>
          	<div>
	          	<h4>Check realtime prices here.</h4>
	          	<input type="text" ng-model="StockSymbol" placeholder="Enter symbol for the stock">
	          	<button type="button" class="btn btn-primary" ng-click="checkAndUpdatePrices()">Check prices</button>
          	</div>
          	<hr>
          	<div>You Queried Stocks</div>
	          <li ng-repeat="stock in stocksQueries" style="padding:4px;">
	          	{{'{{'}}stock.Symbol{{'}}'}} - {{'{{'}}stock.AskRealtime{{'}}'}} - <button type="button" class="btn btn-info" ng-click="buyMe(stock)">Buy</button>
	          </li>
        	</div>

	        <div class="col-lg-6" style="min-height: 200px;">
	          <h4>Your account</h4>
	          <p>Your current account balance is {{'{{'}}balance|number{{'}}'}}.</p>
	          <h4> Add more balance </h4>
	          <p><input type="text" ng-model="money"></p>
	          <button type="button" class="btn btn-primary" ng-click="addMoney()">Add more Balance</button>
	        </div>
      	</div>
      	<hr>
      	<div>
      		<h4 class="text-center">Stocks you have bought.</h4>
      		<ul>
      		<li ng-repeat="stock in myStocks" style="padding:4px;">
      			{{'{{'}}stock.Symbol{{'}}'}}
      		</li>
      		</ul>
      	</div>
	    <div class="footer"> 
	    	<p>&copy; Company 2014</p>
	    </div>

      </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>